/* Meyer reset */
@import url("meyerReset.css");

/* Remove margins */
* {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

/* variables: add fonts, colors etc. here */
:root {
    
}

/* layout */
#wrap {
    min-height: 100vh;
    background-color: cornsilk;
}

#smallDev {
    display: none;
}

/* RESPONSIVE DESIGN: breakpoints */ 

/* tablet */
/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 600px) {
    /* For tablets: */
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    #wrap {
        background-color:darkorange;
        background-image: url('../images/moes.jpg');
        font-family: Arial, Helvetica, sans-serif;
    }

    #largeDev {
        display: none;
    }

    h1 {
        color: #fff;
    }

  }
 